/* About me */

h1 {
    color: #8CBDB9;
}

#about-section {
    display: inline-block;
    background-color: #E8ECEB;
    margin: 4rem auto 3rem auto;
    height: auto;
    border-radius: 0.375rem;
    padding: 50px auto;
}

#about-section .title {
    margin: 50px auto 20px auto;
}

.profile-pic {
    float: left;
    padding: 20px 40px;
    margin: 30px auto;
}

.about-description {
    color: #223745;
    font-family: 'helvetica', sans-serif;
    text-align: center;
    line-height: 1.5;
    padding: 10px 50px;
    margin: auto 20px;
}

.heart {
    color: #B00D23;
}
