* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: #fff;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 1rem;
    line-height: 1.5;
    color: #fff;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 8% auto 10%;
    grid-template-areas:
        "header"
        "main"
        "footer";
    background-color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
    margin: 0;
    padding:0;
}

p {
    font-size: 1.6rem;
}

/*header*/
/*header*/
header {
    width: 100%;
    position: static;
    top: 0;
    left: 0;
    display: inline-block;
    vertical-align: middle;
    grid-area: header;
    margin-bottom: 3rem;
}

/* heading: title & logo */

.heading {
    display: inline-block;
}

.title-heading {
    font: bold 5.625rem 'Lucida Sans', sans-serif;
    color: #223745;
    align-items: center;
    margin: 3rem auto;
}

/*home button*/

#home-btn {
    margin: 2rem auto 0 auto;
}

.home-btn {
    font-family: 'Lucida Sans', sans-serif;
    color: #fff;
    font-weight: 900;
    background-color: #E09E50;
    border: solid 2px #E09E50;
    padding: 15px 25px;
    font-size: 1.2em;
    border-radius: 0.375rem;;
    display: inline-block;
    margin-left: 0;
    text-align: left;
}

.home-btn:hover {
    color: #E09E50;
    font-weight: 900;
    background-color: #fff;
    border: solid 2px #E09E50;
}

/* main stories*/

#feature {
    box-sizing: border-box;
    grid-area: main;
    display: block;
    border-top: 5rem;
}

.con1 {
    order: 1;
}

.con2 {
    order: 2;
}
.con3 {
    order: 3;
}

.container {
    display: block;
    margin-top: 30px;
}

.featured-article {
    color: #223745;
    text-align: left;
    line-height: 1.5em;
    font-family: 'helvetica', sans-serif;
    padding: 20px;
}

.article-title1 {
    color: #8CBDB9;
    padding-bottom: 10px;
    font: 1.5rem;
    text-align: left;
    margin-top: 20px;
    padding-left: 10px;
}

.article-title2 {
    text-align: left;
    font-weight: normal;
    color: #8CBDB9;
    padding-left: 10px;
    padding-bottom: 20px;

}


.time {
    padding-left: 0.2em;
    color: #223745;
    font-size: 1.25rem;
}

/* pictures */

.article-img {
    width: 40%;
    border-radius: 0.375rem;
    margin: 30px 30px 20px 10px;
    float: left;
}

.long-pic {
    max-height: 20rem;
}

.float-article {
    position: relative;
    padding-top: 20px;
    line-height: 1.5;
}



/* footer */

#footer_container {
    grid-area: footer;
    margin-top: 50px;
    width: 100%;
    background-color: #223745;
}

.contact {
    display: inline-block;
    margin-top: 50px;
    padding: 30px auto 15px auto;
    height: 120px;
    justify-content: center;
    color: #fff;

}

.contact a {
    color: #E8ECEB;
    padding: 50px 20px;
}

.contact a:hover {
    color:#8CBDB9;
    font-weight: 900;
}

.copyright {
    margin-top: 30px;
    font-size: 1.25rem;
}

/*tablet screen*/
@media screen and (min-width: 600px) and (max-width:900px) {

    body {
        width: 85%;
    }
    header {
        display: inline-block;
    }

    .title-heading {
        font-size: 20px;
        margin: 3rem auto 3rem;
    }

    .home-btn {
        padding:15px;
        text-align: left;
        font: 1em;
        margin-bottom: 0;
    }

    #home-btn {
        margin: 2rem auto 1rem -30rem;
    }

    #feature {
        margin-top: 3rem;
    }
}

/*smartphone screen: 320px or less*/

@media screen and (max-width:320px) {
    * {
        padding: 0;
        margin: 0;
    }
    body {
        padding: 0;
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 3% auto 10%;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }

    /*heading*/
    header {
        display: flex;
        margin-bottom: 0;
        vertical-align: middle;
        align-items: center;
    }
    .heading {
        vertical-align: middle;
        margin-left: 30px;
    }


    .title-heading {
        top: 2rem;
        font-size: 2rem;
        margin-left: 0;
    }

    .article-img {
        float: none;
        display: inline-block;

    }

    .article-title2 span {
        display: inline-block;
        padding:0;
    }

    #feature {
        padding: 0 2rem;

    }

    .container {
        margin-top: 0;

    }

    .float-article {
        margin-left: 0;
    }
}
