/*footer*/

#footer_container {
    grid-area: footer;
    margin-top: 6rem;
    width: 100%;
    background-color: #223745;
}

.contact {
    display: inline-block;
    margin-top: 50px;
    padding: 30px auto 15px auto;
    height: 120px;
    justify-content: center;
    color: #fff;
}

.contact a {
    color: #E8ECEB;
    padding: 50px 20px;
}

.contact a:hover {
    color:#8CBDB9;
    font-weight: 900;
}

.copyright {
    margin-top: 30px;
    font-size: 1.25rem;
}
