* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    height: 100vh;
    background-color: #fff;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 1.5rem;
    color: #fff;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-gap: 30px;
    grid-template-areas:
        "header header header"
        "quotes quotes quotes"
        "main main main"
        "sect1 sect2 sect3"
        "footer footer footer";
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
    margin: 0;
    padding:0;
}

p {
    font-size: 1.6rem;
}

/*header*/
header {
    width: 100%;
    position: static;
    top: 0;
    left: 0;
    display: inline-block;
    vertical-align: middle;
    grid-area: header;
}

h1 {
    color: #8CBDB9;
    padding-bottom: 30px;
}

/* heading: title & logo */

#heading {
    display: flex;
    flex-direction: row;
}

.title-heading {
    font-family: 'Lucida Sans', sans-serif;
    font-size: 5.625rem;
    text-align: center;
    height: 9rem;
    margin: 10px auto;
    display: inline-block;
}

header img {
    width: 5%;
    display: inline-block;
    text-align: left;
    margin: 80px 80px 0 0;

    /* margin-top: 50px; */
}
.nav-bar {
    display: flex;
    background-color: #223745;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 4rem;
    margin-bottom: 50px;
}

.nav-list li {
    display: inline-block;
    color: #E8ECEB;
    padding: 1em 1.4em;
    font-weight: 700;
    margin-right: 20px;
    font-size: 1.25rem;

}

.nav-bar i {
    justify-content: flex-end;
    padding-right: 0.3em;
}

.home {
    color: #E09E50;
}

.nav-list li a:hover {
    color: #8CBDB9;
}

.fa-bars a:hover {
    color: #8CBDB9;
}

.nav-list li:first-child a:hover {
    color: #E8ECEB;
}

/* blockquotes */
.quote_container {
    font-family: 'Special Elite', cursive;
    background: #E8ECEB;
    color: #3f3f5a;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: quotes;
    height: 350px;
    margin: 20px auto 0 auto;
    border-radius: 0.375rem;;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

blockquote {
font-weight: 100;
font-size: 2rem;
width: 60%;
line-height: 1.5;
position: relative;
margin: 0;
padding-top: 30px;
text-align: center;
}

blockquote:before,
blockquote:after {
position: absolute;
color: #223745;
font-size: 8rem;
width: 4rem;
height: 4rem;
}

blockquote:before {
content: '“';
left: -6rem;
top: -2rem;
}

blockquote:after {
content: '”';
right: -5rem;
bottom: 7rem;
}

.org-become {
    color: #E09E50;
    font-style: bold;
}

cite {
    line-height: 3;
    text-align: left;
    font-style: bold;
    padding: 0;
}


/* main stories*/

#feature {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 480px;
    text-align: left;
    align-items: center;
    box-sizing: border-box;
    padding: 0 30px 30px 0;
    margin: 30px auto;
    grid-area: main;
}

.featured-article {
    color: #223745;
}

#feature img {
    width: 50%;
    margin-right: 50px;
    float: left;
    border-radius: 0.375rem;;
}
.category {
    padding-top: 1.5rem;
}

.card .category {
    text-transform: uppercase;
    font-size: bold;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 0.75rem;
    border-bottom: 0.125rem;
    padding-top: 15px;
    padding-left: 20px;
    color: #223745;
}

.title {
    font-family: 'Lucida Sans', sans-serif;
    font-size: 2rem;
    margin-top: 20px;
    line-height: 1.5;
}


.featured_summary {
    line-height: 1.5em;
    font-family: 'Roboto', sans-serif;

}
.btn {
    font-family: 'Lucida Sans', sans-serif;
    color: #E09E50;
    font-weight: 900;
    background-color: #fff;
    border: solid 2px #E09E50;
    padding: 15px 25px;
    margin-top: 25px;
    font-size: 1.2em;
    border-radius: 0.375rem;;
    display: inline-block;
}

.btn:hover {
    color:#fff;
    font-weight: 900;
    background-color: #E09E50;
    border: solid 2px #E09E50;
}

.card {
    display: inline-block;
    width: 100%;
    height: 400px;
    margin: 0;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 2px 10px #ccc;
    transitional: all .5s;
    border-radius: 0.375rem;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.card:hover {
    transform:scale(1.05);
    box-shadow: 0 2px 40px #ccc;
}

.card-img {
        border-radius: 0;
        width: 100%;
        height: 230px;
        margin: 0;
        /* margin-top: 30px; */
        /* margin-bottom: 0; */
    }
.card-title {
    text-align: left;
    color:#223745;
    font-weight: normal;
    padding: 20px;
    margin-bottom: 20px;
}


.sub1 {
    grid-area: sect1;
}

.sub2 {
    grid-area: sect3;
}

.sub3 {
    grid-area: sect2;
}

/* footer */

#footer_container {
    grid-area: footer;
    margin-top: 50px;
    width: 100%;
    border-top: 2px solid #E8ECEB;
    background-color: #E8ECEB;
}

.contact {
    display: inline-block;
    margin-top: 50px;
    padding: 30px auto 15px auto;
    height: 120px;
    justify-content: center;
    color: #223745;

}

.contact a {
    color: #223745;
    padding: 50px 20px;
}

.contact a:hover {
    background-color: #E8ECEB;
    color:#8CBDB9;
    font-weight: 900;
}

.copyright {
    margin-top: 30px;
    font-size: 1.25rem;
}
