* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 100vh;
    background-color: #fff;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 1.5rem;
    color: #223745;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-gap: 20px;
    grid-template-areas:
        "header header header"
        "quotes quotes quotes"
        "main main main"
        "sect1 sect2 sect3"
        "footer footer footer";
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
    margin: 0;
    padding:0;
}

p {
    font-size: 1.6rem;
}

img{
    width: 100%;
    max-width: 100%;
    height: auto;
    transition: all .5s;
    border-radius: 8px;
}


/*header*/
header {
    width: 100%;
    position: static;
    top: 0;
    left: 0;
    display: inline-block;
    vertical-align: middle;
    grid-area: header;
}

h1 {
    color: #8CBDB9;
    padding-bottom: 30px;
}


/* heading: title & logo */

#heading {
    display: flex;
    flex-direction: row;
}

.title-heading {
    font-family: 'Lucida Sans', sans-serif;
    font-size: 5.625rem;
    text-align: center;
    height: 9rem;
    margin: 10px auto;
    display: inline-block;
}

header .logo {
    width: 7%;
    display: inline-block;
    justify-content: center;
    margin-right: 50px;
    margin-top: 30px;
}
.nav-bar {
    display: flex;
    background-color: #223745;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}

.nav-list li {
    display: inline-block;
    color: #E8ECEB;
    padding: 1em 2em;
    font-weight: 900;
    margin-right: 20px;

}

.nav-bar i {
    display: inline-block;
    color: #E8ECEB;
    justify-content: flex-end;
}

.home {
    color: #E09E50;
}

.nav-list li a:hover,
.fa-bars a:hover {
    color: #8CBDB9;
}

.nav-list li:first-child a:hover {
    color: #E8ECEB;
}

/* blockquotes */
.quote_container {
    font-family: 'Special Elite', cursive;
    background: #E8ECEB;
    color: #3f3f5a;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: quotes;
    height: 350px;
    margin: 20px auto;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

blockquote {
font-weight: 100;
font-size: 2rem;
width: 60%;
line-height: 1.5;
position: relative;
margin: 0;
padding-top: 30px;
text-align: center;
}

blockquote:before,
blockquote:after {
position: absolute;
color: #223745;
font-size: 8rem;
width: 4rem;
height: 4rem;
}

blockquote:before {
content: '“';
left: -6rem;
top: -2rem;
}

blockquote:after {
content: '”';
right: -5rem;
bottom: 7rem;
}

.org-become {
    color: #E09E50;
    font-style: bold;
}

cite {
    line-height: 3;
    text-align: left;
    font-style: bold;
    padding: 0;
}


/* main stories*/

#feature {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 480px;
    text-align: left;
    align-items: center;
    box-sizing: border-box;
    padding: 0 30px 30px 0;
    margin: 30px auto;
    grid-area: main;
}

#feature img {
    width: 50%;
    margin-right: 50px;
}

.category {
    margin: 15px auto;
}

.title {
    font-family: 'Lucida Sans', sans-serif;
    font-size: 2rem;
}

.title,
.sub-title {
    text-transform: capitalize;
    font-weight: bold;
}
.featured_summary {
    line-height: 1.5em;

}

.sub-title {
    font-size: 1.5rem;
}

.main-content a {
    font-family: 'Lucida Sans', sans-serif;
    color: #fff;
    background-color: #8CBDB9;
    border: solid 2px #8CBDB9;
    padding: 15px 20px;
    margin: 15px auto;
    font-size: 1.2em;
    border-radius: 4px;
    display: inline-block;
}

.read-more:hover {
    background-color: #fff;
    color:#8CBDB9;
    font-weight: 400;
    border: solid 2px #8CBDB9;
}



#substories {
    height: 550px;
    width: 100%;
    grid-template-columns: 33.3%, 33.3%, 33.3%;
    grid-gap: 15px;

}
article {
  border-radius: 10px;
  padding: 20px;
  color: #fff;
}


.sub1 {
    grid-area: section1;
}

.sub2 {
    grid-area: section2;
}

.sub3 {
    grid-area: section3;
}

.substory {
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 2px 10px #ccc;
    transitional: all .5s;
}

footer {
    grid-area: footer;
    margin: 30px auto;
    padding: 30px auto;
}
